
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel turpis hendrerit, vulputate orci ac, varius nulla. Donec sit amet nulla facilisis, fermentum justo a, vehicula metus. Suspendisse potenti.
    Praesent eget pulvinar enim. Curabitur nec augue vitae odio dapibus sollicitudin. Vestibulum eu justo eget erat accumsan viverra. Etiam eu quam vel sapien accumsan mattis. Sed sed volutpat nulla.
    Fusce tincidunt felis sit amet quam sollicitudin, a fermentum nunc laoreet. Duis ac lorem eu turpis commodo dapibus. Pellentesque ac sem et eros finibus luctus non id eros. Curabitur euismod arcu a quam dictum placerat.
    Nam malesuada purus sed justo tempor, in iaculis odio vulputate. Vestibulum ac faucibus eros. Pellentesque at lacus vestibulum, efficitur risus et, tincidunt odio. Integer nec laoreet diam. Aenean dapibus arcu vitae lectus gravida, at pretium odio efficitur.
    Donec nec est sit amet sem aliquam luctus nec eget felis. Aenean gravida finibus tortor, nec imperdiet nisi sodales ut. Ut ornare lorem quis viverra tristique. Nam non imperdiet nunc.
    Mauris eget nulla in nunc hendrerit tristique a vitae metus. In in massa ac mauris tincidunt tincidunt. Curabitur a rutrum ipsum, sed fermentum arcu. Sed laoreet, urna in efficitur tincidunt, diam lacus posuere libero, nec convallis nunc lorem at elit.
    Integer tincidunt sapien at metus facilisis bibendum. Quisque in lacinia eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam rutrum justo vitae diam porta euismod.
    Maecenas tincidunt orci eget nulla ullamcorper, nec tincidunt eros convallis. Vivamus quis tortor at arcu consequat iaculis. Proin malesuada sem et elit pulvinar tristique. Integer sodales quam ut ex finibus, ut malesuada nisi tincidunt.
    Vestibulum eget ligula a nisi fermentum efficitur. Nulla facilisi. Sed in odio efficitur, pretium velit nec, convallis ante. Curabitur imperdiet, sem nec ultricies porta, risus orci placerat enim, non vestibulum justo magna sit amet lacus.
    Ut non enim at augue lacinia convallis. Sed pulvinar massa vel ligula suscipit, ut facilisis purus pulvinar. Morbi ut sollicitudin ex. Etiam fringilla purus sed sapien luctus, sit amet gravida libero aliquam.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel turpis hendrerit, vulputate orci ac, varius nulla. Donec sit amet nulla facilisis, fermentum justo a, vehicula metus. Suspendisse potenti.
        Praesent eget pulvinar enim. Curabitur nec augue vitae odio dapibus sollicitudin. Vestibulum eu justo eget erat accumsan viverra. Etiam eu quam vel sapien accumsan mattis. Sed sed volutpat nulla.
        Fusce tincidunt felis sit amet quam sollicitudin, a fermentum nunc laoreet. Duis ac lorem eu turpis commodo dapibus. Pellentesque ac sem et eros finibus luctus non id eros. Curabitur euismod arcu a quam dictum placerat.
        Nam malesuada purus sed justo tempor, in iaculis odio vulputate. Vestibulum ac faucibus eros. Pellentesque at lacus vestibulum, efficitur risus et, tincidunt odio. Integer nec laoreet diam. Aenean dapibus arcu vitae lectus gravida, at pretium odio efficitur.
        Donec nec est sit amet sem aliquam luctus nec eget felis. Aenean gravida finibus tortor, nec imperdiet nisi sodales ut. Ut ornare lorem quis viverra tristique. Nam non imperdiet nunc.
        Mauris eget nulla in nunc hendrerit tristique a vitae metus. In in massa ac mauris tincidunt tincidunt. Curabitur a rutrum ipsum, sed fermentum arcu. Sed laoreet, urna in efficitur tincidunt, diam lacus posuere libero, nec convallis nunc lorem at elit.
        Integer tincidunt sapien at metus facilisis bibendum. Quisque in lacinia eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam rutrum justo vitae diam porta euismod.
        Maecenas tincidunt orci eget nulla ullamcorper, nec tincidunt eros convallis. Vivamus quis tortor at arcu consequat iaculis. Proin malesuada sem et elit pulvinar tristique. Integer sodales quam ut ex finibus, ut malesuada nisi tincidunt.
        Vestibulum eget ligula a nisi fermentum efficitur. Nulla facilisi. Sed in odio efficitur, pretium velit nec, convallis ante. Curabitur imperdiet, sem nec ultricies porta, risus orci placerat enim, non vestibulum justo magna sit amet lacus.
        Ut non enim at augue lacinia convallis. Sed pulvinar massa vel ligula suscipit, ut facilisis purus pulvinar. Morbi ut sollicitudin ex. Etiam fringilla purus sed sapien luctus, sit amet gravida libero aliquam.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel turpis hendrerit, vulputate orci ac, varius nulla. Donec sit amet nulla facilisis, fermentum justo a, vehicula metus. Suspendisse potenti.
        Praesent eget pulvinar enim. Curabitur nec augue vitae odio dapibus sollicitudin. Vestibulum eu justo eget erat accumsan viverra. Etiam eu quam vel sapien accumsan mattis. Sed sed volutpat nulla.
        Fusce tincidunt felis sit amet quam sollicitudin, a fermentum nunc laoreet. Duis ac lorem eu turpis commodo dapibus. Pellentesque ac sem et eros finibus luctus non id eros. Curabitur euismod arcu a quam dictum placerat.
        Nam malesuada purus sed justo tempor, in iaculis odio vulputate. Vestibulum ac faucibus eros. Pellentesque at lacus vestibulum, efficitur risus et, tincidunt odio. Integer nec laoreet diam. Aenean dapibus arcu vitae lectus gravida, at pretium odio efficitur.
        Donec nec est sit amet sem aliquam luctus nec eget felis. Aenean gravida finibus tortor, nec imperdiet nisi sodales ut. Ut ornare lorem quis viverra tristique. Nam non imperdiet nunc.
        Mauris eget nulla in nunc hendrerit tristique a vitae metus. In in massa ac mauris tincidunt tincidunt. Curabitur a rutrum ipsum, sed fermentum arcu. Sed laoreet, urna in efficitur tincidunt, diam lacus posuere libero, nec convallis nunc lorem at elit.
        Integer tincidunt sapien at metus facilisis bibendum. Quisque in lacinia eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam rutrum justo vitae diam porta euismod.
        Maecenas tincidunt orci eget nulla ullamcorper, nec tincidunt eros convallis. Vivamus quis tortor at arcu consequat iaculis. Proin malesuada sem et elit pulvinar tristique. Integer sodales quam ut ex finibus, ut malesuada nisi tincidunt.
        Vestibulum eget ligula a nisi fermentum efficitur. Nulla facilisi. Sed in odio efficitur, pretium velit nec, convallis ante. Curabitur imperdiet, sem nec ultricies porta, risus orci placerat enim, non vestibulum justo magna sit amet lacus.
        Ut non enim at augue lacinia convallis. Sed pulvinar massa vel ligula suscipit, ut facilisis purus pulvinar. Morbi ut sollicitudin ex. Etiam fringilla purus sed sapien luctus, sit amet gravida libero aliquam.
    </p>
</div>

